/* 
TODO: Add styles to match the layout in the image.
Note: you should only need to use flexbox properties and margin/padding to create the layout.
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header nav a {
    margin-left: 2rem;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
.features {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

 .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
 }

.footer-content {
    display: flex;
    justify-content: space-evenly;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    margin-bottom: 2rem;
    flex: 1;
}

/* 
Challenge: Use flexbox in media queries to create a responsive layout 
*/


